.lobby-page {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
.main-lobby-header {
  font-size: 24px;
  color: #333; 
  margin-top: 10px;
  margin-bottom: 10px; 
}

.sub-lobby-header {
  font-size: 20px;
  color: #555; 
  margin-bottom: 30px; 
}
  
  .code-block-list {
    list-style: none;
    padding: 0;
  }
  
  .code-block-list li {
    margin-bottom: 10px;
  }
  
  .code-block-link {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
  }
  
  .code-block-link:hover {
    text-decoration: underline;
  }