/* CodeBlockPage.css */

.code-block-page {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .code-editor {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    min-height: 200px;
    /* overflow: auto; */
    height: auto;
    overflow: hidden; /* Hide overflow to avoid scrollbars */
  }

  /* CodeMirror specific styles */
.CodeMirror {
    height: auto; /* Adjust height automatically */
  }
  
  .CodeMirror-scroll {
    overflow: auto; /* Allow scrolling if content overflows */
  }
  
  .CodeMirror-gutters {
    background-color: #f7f7f7; /* Light gray background for gutters */
    border-right: 1px solid #ddd; /* Border for gutters */
  }
  
  .CodeMirror-lines {
    padding: 10px; /* Padding around code lines */
  }
  
  .read-only {
    background-color: #f5f5f5; /* Light grey background for read-only mode */
    cursor: not-allowed; /* Change cursor to indicate that it’s not editable */
  }
  
  .role-indicator {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .back-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  
  .smiley {
    font-size: 100px;
    text-align: center;
    margin-top: 20px;
  }
  
  .smiley span {
    display: inline-block;
    line-height: 1;
  }
  